<!DOCTYPE html>
<html>
{% include "head.html" %}
<body>

<div class="container">

    {% include "header.html" %}


    {% include "nav_instructor.html" %}

    <article>

        <h1>{{ select_course.title }}</h1>

        {% for module in module_with_components %}
            <div class="module">
                <h2>Module {{ module.0.order }}:{{ module.0.title }}</h2>
                <hr>
                {% for component in module.1 %}
                    {% if component.type == 'text' %}
                        <p>Component {{ component.order }} : {{ component.title }}</p>
                        <p>{{ component.text_content }}</p>
                    {% endif %}
                    {% if component.type == 'image' %}
                        <p>Component {{ component.order }} : {{ component.title }}</p>
                        <img width="100%" src="{{ component.image_content.url }}">
                    {% endif %}
                    {% if component.type == 'file' %}
                        <p>Component {{ component.order }} :</p>
                        <a href="{{ component.file_content.url }}">{{ component.title }}</a>
                    {% endif %}
                    {% if component.type == 'video' %}
                        <p>Component {{ component.order }} :{{ component.title }}</p>
                        {% load embed_video_tags %}
                        {% video component.video_url as my_video %}

                        {% video my_video '640x480' %}
                        {% endvideo %}
                    {% endif %}
                    {% if component.type == 'quiz' %}
                        <p>Component {{ component.order }} :Quiz {{ component.title }}</p>
                        <p>Question:{{ component.question }}</p>
                        <p>Answer:{{ component.answer }}</p>
                    {% endif %}
                    <hr>
                {% endfor %}
                <a href="/create_component/{{ module.0.module_id }}/text">Add text</a>
                <a href="/create_component/{{ module.0.module_id }}/image">Add image</a>
                <a href="/create_component/{{ module.0.module_id }}/file">Add file</a>
                <a href="/create_component/{{ module.0.module_id }}/video">Add Youtube</a>
                <a href="/create_component/{{ module.0.module_id }}/quiz">Add Quiz</a>
            </div>
        {% endfor %}
        {% if not module_with_components %}
            No module.
        {% endif %}
        <hr>
        <a href="/create_module/{{ select_course.course_id }}">Add a module</a>
        <a href="/modify_course_order/{{ select_course.course_id }}">Modify ordering</a>
        {% if not select_course.open %}<a href="/open_course/{{ select_course.course_id }}">Open for
            enrollment</a> {% endif %}
    </article>


</div>

</body>
</html>

